<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">雄利水泥</a>
    <ul class="right hide-on-med-and-down">
      <li class="waves-effect waves-grey"><a href="#">首頁</a></li>
      <li class="waves-effect waves-grey"><a href="#">公司介紹</a></li>
      <li class="waves-effect waves-grey"><a href="#">產品介紹</a></li>
      <li class="waves-effect waves-grey"><a href="#">工程實績</a></li>
      <li class="waves-effect waves-grey"><a href="#">聯絡我們</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="waves-effect waves-grey" href="#">首頁</a></li>
      <li><a class="waves-effect waves-grey" href="#">公司介紹</a></li>
      <li><a class="waves-effect waves-grey" href="#">產品介紹</a></li>
      <li><a class="waves-effect waves-grey" href="#">工程實績</a></li>
      <li><a class="waves-effect waves-grey" href="#">聯絡我們</a></li>
    </ul>
    <a href="#" id="mobile-menu" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="tap-target grey darken-1 white-text" data-activates="mobile-menu">
  <div class="tap-target-content">
    <h5>側邊欄</h5>
    <p>可以從此更了解雄利水泥!</p>
  </div>
</div>

