<!DOCTYPE html>
<html lang="en">
  <head>

    <% include ./partials/metatags.ejs %>
    <% include ./partials/common-headers.ejs %>
    <link href="/assets/css/template.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title><%= title %></title>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center transparent-text text-lighten-2">雄利</h1>
          <div class="row center">
            <h4 class="header col s12 light banner-bg">創新 服務 熱情 高品質</h4>
          </div>
          <div class="row center">
            <a href="#" id="know_more" class="btn-large waves-effect waves-light grey darken-2">了解更多</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="/assets/images/banner.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m6"></div>
          <div class="col s12 m6"></div>
        </div>
      </div>
    </div>

    <% include ./partials/common-scripts.ejs %>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
