<!DOCTYPE html>
<html lang="en">
  <head>

    <% include ./partials/metatags.ejs %>
    <% include ./partials/common-headers.ejs %>
    <link href="/assets/css/template.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title><%= title %></title>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center transparent-text text-lighten-2">雄利</h1>
          <div class="row center">
            <h4 class="header col s12 light banner-bg">創新 服務 熱情 高品質</h4>
          </div>
          <div class="row center">
            <a href="#" id="know_more" class="btn-large waves-effect waves-light grey darken-2">了解更多</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="/assets/images/banner.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
      <div class="section">
        <h3 id="company" class="center-align">公司介紹</h3>
        <div class="row">
          <div class="col s12 m6">
            <img src="/assets/images/company.jpg" id="company_img" class="center-block materialboxed responsive-img z-depth-5"/>
          </div>
          <div class="col s12 m6">
            <p> 於民國80年創立，累積多年之經驗，豐富的經驗使得我們在水泥製品方面相當了解，在成本、技術及製作過程都有嚴格的標準，能提供各位最優良品質的產品及最完善的售後服務。也誠摯邀請大家給與我們寶貴的意見，我們將做最大的努力以求得最佳品質。 </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <h3 id="contact" class="center-align">聯絡我們</h3>
        <div class="row">
          <div class="col s12 m6">
            <div class="map center-block"></div>
          </div>
          <div class="col s12 m6">
            <p>
              <a href="tel:0423351111"><i class="material-icons left">phone</i></a><div>電話: <a href="tel:0423351111">04-23351111</a></div>
            </p>
            <p>
              <i class="material-icons left">print</i><div>傳真: 04-23353641</div>
            </p>
            <p>
              <i class="material-icons left">location_on</i><div>地址: 台中市烏日區太明路202號</div>
            </p>

          </div>
        </div>
      </div>
    </div>

    <% include ./partials/common-scripts.ejs %>
    <script src="/assets/js/jquery.tinyMap.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
